/* styles.css */

* {
	font-family: Arial; Helvtica, sans-serif;
}

body {
	background-color: dodgerblue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

h1 {
	  font-family: "Alegreya", serif;
}
